.margin-top-row-1
{
  @media screen and (max-width: 1200px) {

margin-top:15px;

  }

}
.right-wing-menu
{
  @media screen and (max-width: 896px) {

    display: none;
    
      }

}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgb(255 255 255 / 90%);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #000000;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
.Collapsible__trigger:after {
  font-family: 'FontAwesome';
  content: '\f107';
  position: absolute;
  right: 10px;
  top: 26px;
  display: block;
  transition: transform 300ms;
}

.Collapsible__trigger.is-open:after {
  transform: rotateZ(
180deg
);
}

.loader {
  display: inline-block;
  font-size: 0px;
  padding: 0px;
 }
  
 .loader span {
  vertical-align: middle;
  border-radius: 100%;
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 3px 2px;
  animation: loader 0.8s linear infinite alternate;
 }
  
 .loader span:nth-child(1) {
  animation-delay: -1s;
  background: #a19696;
 }
  
 .loader span:nth-child(2) {
  animation-delay: -0.8s;
  background: #a19696;
 }
  
 .loader span:nth-child(3) {
  animation-delay: -0.26666s;
  background: #a19696;
 }
  
 .loader span:nth-child(4) {
  animation-delay: -0.8s;
  background: #a19696;
 }
  
 .loader span:nth-child(5) {
  animation-delay: -1s;
  background: #a19696;
 }
  
 @keyframes loader {
  from {
  transform: scale(0, 0);
  }
  to {
  transform: scale(1, 1);
  }
 }

 .space-pre-wrap {
  white-space: pre-wrap;
 }
 .grid-size {
  height: 300 !important;
  width: 100%;
 }
 .navbar-sticky {
  position: sticky;
   top: 0px; 
   z-index: 555;
   background: #cc0033;
 }
 .header-background {
  background: #cc0033 !important;
 }
 .header-width {
  width: 500px;
 }

 /* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 224px;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 15px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 10px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
}