// .gridjs-th-content
// {
//     font-size: 10px;

// }



// .gridjs-th gridjs-th-sort
// {
//     width: 94px;
// }
// .gridjs-td
// {
//     font-size: 10px;
    
// }
// .gridjs-td
// {
//      padding: 0!important;

// }
.modal-xl-full-screen
{
    max-width: 99%;
}
.modal-label-span-text{
    font-size: .8rem;
    font-weight: 400;
}
.gridjs-td{
    font-size: .8rem;
    font-weight: 400;
}
.gridjs-th-content
{
    font-size: .8rem;
    font-weight: 700;

}
.gridjs-summary
{
    font-size: .8rem;
    font-weight: 400;

}