$color-scheme: (
  (theme1, #f19c1e, #f19c1e, #d88d1d, #ead0c8, #000, #02b875, #eed6b3, #e8ebed),
  (theme2, #02b875, #02b875, #287565, #c8eae0, #000, #02b875, #d1f2d2, #e8ebed),
  (theme3, #00a4ec, #00a4ec, #0696d4, #c8d1ea, #fff, #02b875, #a1d5ec, #e8ebed),
  (theme4,#23262b,#fff,#d88d1d, #ead0c8,#000,#02b875,#eed6b3,#23262b,#d0d2d6,#1b1e22,#fff)
);
@mixin theme(
  $name,
  $primary,
  $primary_icon,
  $secondary,
  $tertiary,
  $color,
  $common,
  $lightprimary,
  $bgcommon,
  $textwhite,
  $darkprimary,
  $textactive
) {
  .#{$name} {
    .test1 {
      color: $primary !important;;
    }
}
}

@each $name, $primary, $primary_icon, $secondary, $tertiary, $color, $common,
  $lightprimary, $bgcommon, $textwhite, $darkprimary,
  $textactive in $color-scheme
{
  @include theme(
    $name,
    $primary,
    $primary_icon,
    $secondary,
    $tertiary,
    $color,
    $common,
    $lightprimary,
    $bgcommon,
    $textwhite,
    $darkprimary,
    $textactive
  );
}


